
*{
    padding: 0;
    margin: 0;
}
.Container{
    border:5px solid black;
    display: grid;
    grid-template-rows: repeat(8,60px);
    grid-template-columns:repeat(8,60px) ;
    height: 100vh;


}
.black{
    background-color: black;
    height: 60px;
    width: 60px;
}
.white{
    background-color: white;
    height: 60px;
    width: 60px;

}